.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
}

.card {
    display: inline-flex;
    margin: 10px;
}

.containerz{
    width: 100%;
    max-width: 980px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}

.profile-div{
    width: 100%;
    max-width: 980px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}